/* Normalizing */
*{
    margin:0;
    padding:0;
    font-family: 'Nanum Gothic', sans-serif;
}
a{
    color:inherit;
    text-decoration:none;
}
ul,li{
    list-style:none;
}

/* Library */
.cell{
    float:left;
}
.cell_r{
    float:right
}
.row::after{
    content:"";
    display:block;
    clear:both;
}
.con{
    max-width: 1440px;
    margin:0 auto;
}
.color_red{
    color:red;
}
.color_white{
    color:white;
}
.center_absolute{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
}
.image{
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
}
/* Style */

/* .wrap_topbar start */

.wrap_topbar{
    width:100%;
    position:fixed;
    top:0;
    z-index:9999;
    background-color:white;
}
.wrap_topbar > .topbar > .box_logo{
    width: 151px;
    height: 60px;
    text-align:center;
    line-height:60px;
}
.wrap_topbar > .topbar > .box_logo > a > svg{
    width:120px;
}
.wrap_topbar > .topbar > .box_nav{
    height: 60px;
}
.wrap_topbar > .topbar > .box_nav > ul > li{
    padding-left:11px;
    padding-right:11px;
    font-size:14px;
    font-weight:bold;
    line-height:60px;
    cursor:pointer;
    position:relative;
}
.wrap_topbar > .topbar > .box_nav > ul > li::after{
    content:"";
    display:block;
    width:0;
    height:1.5px;
    background-color:black;
    position:absolute;
    bottom:0;
    left:0;
    transition:0.5s;
}
.wrap_topbar > .topbar > .box_nav > ul > li.active::after{
    width:100%;
}
.wrap_topbar > .topbar > .box_icon{
    width: 160px;
    height: 60px;
}
.wrap_topbar > .topbar > .box_icon > ul > li{
    padding-right:20px;
    line-height:60px;
    position:relative;
}
.wrap_topbar > .topbar > .box_icon > ul > li:nth-child(2)::after{
    content:"0";
    width:17px;
    height:17px;
    border-radius:50%;
    background-color:skyblue;
    color:white;
    font-size:10px;
    text-align:center;
    line-height:17px;
    position:absolute;
    top:15px;
    left:10px;
}
.wrap_topbar > .topbar > .box_search{
    width: 60px;
    height: 60px;
    background-color:black;
    text-align:center;
    line-height:60px;
}
.wrap_topbar > .topbar > .box_search > a{
    display:block;
}

/* .wrap_topbar end */

/* .wrap_nav2depth start */

.wrap_nav2depth{
    width:100%;
    height:100%;
    position:absolute;
    top:60px;
    z-index:9999;
    opacity:0;
    visibility:hidden;
    transition:0.5s;
}
.wrap_nav2depth.active{
    opacity:1;
    visibility: visible;
}
.wrap_nav2depth > .bg_nav2depth_left{
    width:calc(50% - 720px);
    height: 100%;
    background-color:white;
}
.wrap_nav2depth > .bg_nav2depth_right{
    width:calc(50% + 720px);
    height: 100%;
    background-color:rgba(0,0,0,0.6);
}
.wrap_nav2depth > .nav2depth{
    width:1440px;
    height:100%;
    position:absolute;
    top:0;
    left:50%;
    transform: translatex(-50%);
}
.wrap_nav2depth > .nav2depth > .nav2depth_left{
    width:50%;
    min-width:720px;
    height:100%;
    position:relative;
}
.wrap_nav2depth > .nav2depth > .nav2depth_left > .box_content{
    width:100%;
    height:100%;
    background-color:white;
    padding:70px;
    box-sizing:border-box;
    position:absolute;
    top:0;
    left:-100%;
    opacity:0;
    visibility:hidden;
    transition:0.5s;
}
.wrap_nav2depth > .nav2depth > .nav2depth_left > .box_content.active{
    left:0;
    opacity:1;
    visibility: visible;
}
.wrap_nav2depth > .nav2depth > .nav2depth_left > .box_content > ul > li{
    font-size:28px;
    font-weight:bold;
    padding:5px;
}
.wrap_nav2depth > .nav2depth > .nav2depth_left > .box_content > ul > li:hover{
    opacity:0.5;
}
.wrap_nav2depth > .nav2depth > .nav2depth_left > .box_content > .box_recom{
    width:100%;
    margin-top:70px;
}
.wrap_nav2depth > .nav2depth > .nav2depth_left > .box_content > .box_recom > p{
    font-weight:bold;
    font-size:14px;
    margin-bottom:14px;
}
.wrap_nav2depth > .nav2depth > .nav2depth_left > .box_content > .box_recom > ul > li{
    width:25%;
    padding-right:15px;
    box-sizing:border-box;
}
.wrap_nav2depth > .nav2depth > .nav2depth_left > .box_content > .box_recom > ul > li > a > .box_product > .image{
    width: 100%;
    padding-bottom:120%;
    transition:0.5s;
}
.wrap_nav2depth > .nav2depth > .nav2depth_left > .box_content > .box_recom > ul > li > a > .box_product:hover > .image{
    opacity:0.7;
}
.wrap_nav2depth > .nav2depth > .nav2depth_left > .box_content > .box_recom > ul > li > a > .box_product > p{
    font-size:14px;
    margin-top:14px;
}
.wrap_nav2depth > .nav2depth > .nav2depth_left > .box_content > .box_recom > ul > li > a > .box_product:hover > p{
    text-decoration:underline;
}
.wrap_nav2depth > .nav2depth > .nav2depth_right{
    width:calc(100% - 720px);
    height:100%;
    cursor:pointer;
    position:relative;
}
.wrap_nav2depth > .nav2depth > .nav2depth_right > i{
    font-size:20px;
    color:white;
    position:absolute;
    top:4%;
    right:4%;
}

/* .wrap_nav2depth end */

/* .wrap_section start */

.wrap_section{
    margin-top:60px;
}
.wrap_section > .section{
    margin-bottom:50px;
}
/* modulation */

.w100{
    width:100%;
    position:relative;
}
.w50{
    width:50%;
    position:relative;
}
.h625_reaction{
    padding-bottom:62.5%;
}
.h1250_reaction{
    padding-bottom:125%;
}
.overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.overlay_hover{
    opacity:0;
    visibility:hidden;
}
*:hover > .overlay_hover{
    opacity:1;
    visibility:visible;
}
.content{
    position:absolute;
}
.title{
    font-size:3.5vw;
    font-weight:bold;
}
.text{
    font-size:1.1vw;
    margin-top:12px;
    margin-bottom:12px;
}
.button{
    width:180px;
    height:45px;
    border: 1px solid black;
    box-sizing:border-box;
    text-align:center;
    line-height:45px;
    font-size:14px;
    font-weight:bold;
    transition: 0.3s;
}
.button > a{
    display:block;
}
.bg_black{
    background-color:black;
    color:white;
}
.bg_white{
    background-color:white;
    color:black;
}
.button:hover{
    opacity:0.5;
}
.icon{
    position:absolute;
    top:4.5%;
    left:6%;
    font-size:16px;
    transition:0.3s;
    transition-timing-function: cubic-bezier(0.4,0.9,0.3,2.25);
}
.icon:hover{
    transform:scale(1.3,1.3);
}
.type{
    position:absolute;
    top:4.5%;
    right:6%;
    font-size:14px;
    font-weight:bold;
}
.product{
    position:absolute;
    bottom:4.5%;
    left:6%;
    font-size:14px;
}
.product > p > a:hover{
    text-decoration:underline;
}


.wrap_section > .section01 > .section_left > .box01 > .overlay{
    top:3%;
    left:4%;
    width:90%;
}

.wrap_section > .section02 > .section_right > .box01 > .overlay{
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:50%;
    height:27%;
}
.wrap_section > .section02 > .section_right > .box01 > .overlay > p{
    text-align:center;
}
.wrap_section > .section02 > .section_right > .box01 > .overlay > .button{
    position:absolute;
    bottom:0;
    left:50%;
    transform: translatex(-50%);
}


/* .wrap_section end */

